.list {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.scroll {
  overflow: auto;
  height: 96%;
}

.tagitem {
  margin: -10px 0;
  user-select: none;
  list-style: none;
  list-style-position: inside;
  white-space: nowrap;
}

.childtag {
  padding-left: 1rem;
}

ul {
  padding-inline-start: 15px;
}

.normal {
  padding: 2px 1000px 2px 5px;
  margin: -5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  padding: 2px 1000px 2px 5px;
  margin: -5px;
  background-color: #ffa455;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}